.ProductCard{
  border: 2px solid#1E293B;
  max-width: 300px;
  border: none;
  box-shadow: 5px 5px 10px rgb(145, 143, 143);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 30px;
  font-size: 16px;
  display: inline-block;

  

}

.ProductCard button{
margin-left: 50px;
margin-top: 20px;
padding: 10px;
border: none;
background:#1E293B;
color:white;
border-radius: 4px;
cursor: pointer;
}
.ProductCard .input{
  width: 40px;
  margin-bottom: 20px;
}
.quantity{
  display: block;
}

.img img{
width: 200px;
height: 200px;

}
.Header-Container{
  top: 0;
  height: 50px;
  min-width: 700px;
  background-color: rgb(228, 228, 228);
  justify-content: center;
  margin: 10px;

}
.Left-Header{
  height: 50px;

width: 200px;
display: flex;
align-items: center;
padding-left: 10px;

}
.Left-Header p{
  font-size: 25px;
}
.Home-Container{
  margin-top: 60px;
}
.ProductCard img{
  border-radius: 10px;
}
